.headerNav {
    background-color: rgb(95, 91, 91);
    width: 100%;
    height: var(--height-header);
    display: flex;
    justify-content: center;
    align-items: start;
    position: fixed;
    z-index: 10;
}

.headerNav_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
    overflow: hidden;
    color: aliceblue;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 30%;
    height: 100%;
}

.header-height-max {
    height: 100%;
}

.header_cart {
    position: relative;
    font-size: 18px;
    height: var(--height-header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_cart a {
    color: aliceblue;
}

.header_cart span {
    color: red;
}

.header_cart span {
    position: absolute;
    top: -4%;
    right: 25%;
}


.login_wrap-link {
    color: aliceblue;
    opacity: 0.9;
}

.login_wrap-link:hover {
    color: aliceblue;
    text-decoration: none;
    opacity: 1;
}

.login {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
}

.login i {
    margin-right: 8px;
}
