.slider_container {
    height: 60vh;
}

.slider_items {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.slider_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.slider_wrap p {
    font-size: 40px;
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}

.slider_search {
    margin: 20px;
    border-radius: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

.slider_search input {
    padding: 10px 20px;
    width: 450px;
    background-color: transparent;
    outline: none;
    border-right:1px solid #333 ;
}

.slider_search i {
    font-size: 20px;
    padding: 0 15px;
}