*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'ubuntu', sans-serif;
    overflow-x: hidden;
}

:root {
    --primary-color:#755139FF;
    --secondary-color:#D4B996FF;
    --height-header: 56px;
    --hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),90%,10%);
	--trans-dur: 0.3s;
}