
.booksHot_co {
    max-height: 900px;
    overflow: hidden;
}

.booksHot_title {
    font-size: 30px;
    margin: 15px 20px 40px;
    font-weight: 600;
    text-align: center;
}

.booksHot_container {
    padding: 10px;
    overflow-y: hidden;
}

.booksHot_item {
    padding: 15px 5px  0px 5px;
    border-radius: 7px;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: space-around;
}

.booksHot_wrap {
    overflow-y: hidden;
}

.booksHot_img {
    margin-top: 10px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: hidden;
    margin-bottom: 5px;
}

.booksHot_img img {
    width: 80%;
    object-fit: contain;
}

.booksHot_intro {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.booksHot_intro p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}


.booksHot_price {
    margin: 5px 0;
}

.booksHot_btn-add  {
    padding: 5px;
    background-color: red;
    color: aliceblue;
    border-radius: 2px;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
}

.booksHot_btn-add p {
    font-size: 20px;
}

.booksHot_btn-add i {
    margin-top: 5px;
    display: none;
    font-size: 24px;
}

.booksHot_btn-add:hover p {
    display: none;
}

.booksHot_btn-add:hover  i {
    display: flex ;
}

.booksHot_btn-icon i {
    color: aliceblue;
    font-size: 26px;
}

.booksHot_more{
    position: relative;
    padding: 1px;
    margin-top: 20px;
}


.booksHot_text {
    border: 1px solid #333;
    margin: 15px 0 20px ;
    padding: 8px 13px;
    color: aliceblue;
    background-color: red;
    opacity: 0.7;
}

.booksHot_text:hover {
    cursor: pointer;
    opacity: 1;
}